@model IEnumerable<MahaleSystem.Models.Manahel>

@{
    ViewData["Title"] = "Index";
}

<button id="btnA1" class="btn btn-info" style="margin:10px" value="Show">Hide Statistical</button>
<div id="infoA">
    @await Component.InvokeAsync("DisplayAllStatistics", Model.ToList())
</div>

<!-- Row Vertical Scriollable Data Table Responsive-->
<div class="row">
    <div class="col-lg-12">
        <div class="card custom-card">
            <div class="card-body">
                <div>
                    <h6 class="card-title mb-1">عرض التفاصيل لكل المناحل</h6>
                    <p class="text-muted card-sub-title"></p>
                </div>
                <div class="table-responsive">
                    <table id="example3" class="table table-striped table-bordered text-nowrap">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ssn)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NickName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LocationName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FlowerName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateCreated)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateUpdated)
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ssn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NickName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LocationName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FlowerName)
                                    </td>
                                    <td>
                                        @{ string txt = item.DateCreated.ToShortDateString();}
                                        @txt
                                    </td>
                                    <td>
                                        @{ string txt2 = item.DateUpdated.ToShortDateString();}
                                        @txt2
                                    </td>
                                    <td>
                                        @{ var imgString = "";
                                            try
                                            {
                                                imgString= @item.ImageManhals.FirstOrDefault().ImagesString;
                                                if (imgString == null)
                                                    imgString = "~/assets/img/users/2.jpg";
                                                else
                                                    imgString = "~/images/" + imgString;
                                            }
                                            catch { imgString = "~/assets/img/users/2.jpg"; }
                                         }
                                        <img src=@imgString class="rounded-circle" />
                                    </td>
                                    <td>
                                        <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.Id">Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<script>
    $(document).ready(function () {
        var b1 = false;
        $("#btnA1").click(function () {
            $("#infoA").fadeToggle("sl");
            if (b1 == false) {
                document.getElementById("btnA1").innerHTML = "Show Statistical";
                b1 = true;
            }
            else {
                document.getElementById("btnA1").innerHTML = "Hide Statistical";
                b1 = false;
            }
        });
    });
</script>