@model MahaleSystem.Models.Manahel

@{
    ViewData["Title"] = "Delete";
}
<style>
    .pContent{
        background-color:blue;
        color:white;
        padding:1px 15px;
    }
    label{
        font-weight:bold;
    }
</style>
<h3 class="text-danger text-center">هل انت متاكد من حذف هذا المنحل</h3>
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Note!</h4>
    <p class="mb-0">عند حذف هذا المنحل سيتم حذف ايظا كل الصور 
    المتعلقة بالمنحل و الخلايا و لن تستطيع استرجاعها مرة اخرى <a href="#" class="alert-link"></a>.</p>
</div>
<hr />
<!-- Row -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div>
                    <h1 class="container">حذف المنحل</h1>
                    <p class="text-muted card-sub-title"></p>
                </div>
                <form asp-action="Delete" asp-controller="Manahels" method="post">
                    <div class="">
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <label class="form-label">كود المنحل:</label>
                                <p><span class="pContent">@Html.DisplayFor(model => model.Ssn)</span></p>
                                
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="form-label">اسم المنحل:</label>
                                <p><span class="pContent">@Html.DisplayFor(model => model.NickName)</span></p>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <label class="form-label">اسم الزهرة:</label>
                                <p><span class="pContent">@Html.DisplayFor(model => model.FlowerName)</span></p>
                                
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="form-label">الموقع:</label>
                                <p><span class="pContent">@Html.DisplayFor(model => model.LocationName)</span></p>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <label class="form-label">تاريخ الانشاء: </label>
                                @{ string txt = Model.DateCreated.ToShortDateString();}
                                <p><span class="pContent">@txt</span></p>
                            </div>
                        </div>
                    </div>
                    <button class="btn ripple btn-danger btn-block" type="submit">حذف المنحل</button>
                </form>
            </div>
        </div>
    </div>
</div>
<a asp-action="SuperAdminIndex">Back to List</a>