@model MahaleSystem.ViewModel.Manahel.ManhalDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<button id="btn1" class="btn btn-info" style="margin:10px" value="Show">إخفاء التفاصيل</button>
<div id="info">
    @await Component.InvokeAsync("DisplayStatistics", Model.manhal.Id)
</div>

<!-- Row -->
<button id="btn2" class="btn btn-info" style="margin:10px" value="Show">إخفاء البحث</button>
<div class="row row-sm" id="search">
    @*Filter By Khalia Level *@
    <div class="col-sm-6 col-xl-3 col-lg-6">
        <div class="card custom-card">
            <div class="card-body dash1">
                <div class="d-flex">
                    <p class="mb-1 tx-inverse">Filter By</p>
                </div>
                <a class="btn ripple btn-outline-primary dropdown-toggle mb-0" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fas fa-caret-down mr-1 mt-1 float-left"></i>&nbsp;&nbsp;&nbsp;&nbsp; مستوى الخلية &nbsp;&nbsp;&nbsp;&nbsp;
                </a>
                <div class="dropdown-menu tx-13">
                    <a class="dropdown-item" asp-action="SearchLevel" asp-controller="Manahels"
                       asp-route-id="@Model.manhal.Id" asp-route-txtSearch="ممتاز">
                        ممتاز
                    </a>
                    <a class="dropdown-item" asp-action="SearchLevel" asp-controller="Manahels"
                       asp-route-id="@Model.manhal.Id" asp-route-txtSearch="قوي">
                        قوي
                    </a>
                    <a class="dropdown-item" asp-action="SearchLevel" asp-controller="Manahels"
                       asp-route-id="@Model.manhal.Id" asp-route-txtSearch="جيد">
                        جيد
                    </a>
                    <a class="dropdown-item" asp-action="SearchLevel" asp-controller="Manahels"
                       asp-route-id="@Model.manhal.Id" asp-route-txtSearch="ضعيف">
                        ضعيف
                    </a>
                </div>
                <div class="expansion-label d-flex">
                </div>
            </div>
        </div>
    </div>

    @*Filter By Khalia Type*@
    <div class="col-sm-6 col-xl-3 col-lg-6">
        <div class="card custom-card">
            <div class="card-body dash1">
                <div class="d-flex">
                    <p class="mb-1 tx-inverse">Filter By</p>
                </div>
                <a class="btn ripple btn-outline-primary dropdown-toggle mb-0" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fas fa-caret-down mr-1 mt-1 float-left"></i>&nbsp;&nbsp;&nbsp;&nbsp; نوع الخلية &nbsp;&nbsp;&nbsp;&nbsp;
                </a>
                <div class="dropdown-menu tx-13">
                    <a class="dropdown-item" asp-action="SearchType" asp-controller="Manahels"
                       asp-route-id="@Model.manhal.Id" asp-route-txtSearch="كاملة">
                        كاملة
                    </a>
                    <a class="dropdown-item" asp-action="SearchType" asp-controller="Manahels"
                       asp-route-id="@Model.manhal.Id" asp-route-txtSearch="طرد">
                        طرد
                    </a>
                    <a class="dropdown-item" asp-action="SearchType" asp-controller="Manahels"
                       asp-route-id="@Model.manhal.Id" asp-route-txtSearch="نوية">
                        نوية
                    </a>
                </div>
                <div class="expansion-label d-flex">
                </div>
            </div>
        </div>
    </div>

    @*Filter By Queen Status*@
    <div class="col-sm-6 col-xl-3 col-lg-6">
        <div class="card custom-card">
            <div class="card-body dash1">
                <div class="d-flex">
                    <p class="mb-1 tx-inverse">Filter By</p>
                </div>
                <a class="btn ripple btn-outline-primary dropdown-toggle mb-0" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fas fa-caret-down mr-1 mt-1 float-left"></i> &nbsp;&nbsp;&nbsp;&nbsp; حالة الملكة &nbsp;&nbsp;&nbsp;&nbsp;
                </a>
                <div class="dropdown-menu tx-13">
                    <a class="dropdown-item" asp-action="SearchStatus" asp-controller="Manahels"
                       asp-route-id="@Model.manhal.Id" asp-route-txtSearch="مخصبة">
                        ملقحة
                    </a>
                    <a class="dropdown-item" asp-action="SearchStatus" asp-controller="Manahels"
                       asp-route-id="@Model.manhal.Id" asp-route-txtSearch="عذراء">
                        عذراء
                    </a>
                    <a class="dropdown-item" asp-action="SearchStatus" asp-controller="Manahels"
                       asp-route-id="@Model.manhal.Id" asp-route-txtSearch="مكدبة">
                        مكدبة
                    </a>
                    <a class="dropdown-item" asp-action="SearchStatus" asp-controller="Manahels"
                       asp-route-id="@Model.manhal.Id" asp-route-txtSearch="بدون ملكة">
                        بدون ملكة
                    </a>
                </div>
                <div class="expansion-label d-flex">
                </div>
            </div>
        </div>
    </div>

    @*Add New Khalia*@
    <div class="col-sm-6 col-xl-3 col-lg-6">
        <div class="card custom-card">
            <div class="card-body dash1">
                <div class="">
                    <a asp-action="AddKhalia" asp-controller="Manahels" asp-route-idM="@Model.manhal.Id" class="btn ripple btn-secondary navresponsive-toggler mb-0">إضافة خلية جديدة</a>
                </div>
                <div class="expansion-label d-flex">
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Row  File Export DataTable-->
<button id="btn3" class="btn btn-info" style="margin:10px" value="Show">Hide Khalia Table</button>
<div class="row" id="divTable">
    <div class="col-lg-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div>
                    <h6 class="card-title mb-1">Display All Khaliaes</h6>
                </div>
                <div class="table-responsive">
                    <table id="exportexample" class="table table-bordered border-t0 key-buttons text-nowrap w-100">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.khalias.First().Ssn)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.khalias.First().KhaliaLevel)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.khalias.First().KhaliaType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.khalias.First().PraweezCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.khalias.First().Wood)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.khalias.First().Queues.QueueStatus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.khalias.First().Queues.DateFertilization)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.khalias)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ssn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KhaliaLevel)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KhaliaType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PraweezCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Wood)
                                    </td>
                                    
                                    <td>
                                        @{ try
                                            {
                                            @Html.DisplayFor(modelItem => item.Queues.QueueStatus)
                                            }
                                            catch
                                            {
                                            }
                                        }

                                    </td>
                                    <td>
                                        @{try
                                            {
                                                if (item.Queues.QueueStatus == "ملقحة")
                                                {
                                                    string date = item.Queues.DateFertilization.Value.ToShortDateString();
                                                    @date
                                                }
                                            }
                                            catch { }
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="EditKhalia" asp-controller="Manahels" asp-route-id="@item.Id">Edit</a>
                                    </td>
                                </tr>
                                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<button id="btn4" class="btn btn-info" style="margin:10px" value="Show">Hide Images</button>
<div class="card-columns" id="divImages">
    @foreach (var item in Model.imagesManahels)
    {
        <div class="card">
            <div class="card-body text-center">
                <img class="card-img" src="~/images/@item.ImagesString" />
                <a asp-action="DeleteImage" asp-route-idImg="@item.Id" class="card-action">حذف</a>
            </div>
        </div>
    }
    <div class="card">
        <div class="card-body text-center">
            <!--<div class="hidden">
                <input type="hidden" name="id" id="id" class="hidden bootstrap-switch-readonly">
            </div>
            <div>
                <h6 class="card-title mb-1">Upload Image</h6>
            </div>
            <div class="row mb-4">
                <div class="col-10" style="margin:auto">
                    <input type="file" name="imageFile" class="dropify" accept=".jpg, .png, image/jpeg, image/png" data-height="200" />
                </div>
            </div>-->
            @*<div class="form-group">
                <label class="control-label">Choose Image</label>
                <div class="custom-file">
                    <input type="file" name="imageFile" class="custom-file-input dropify" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span class="text-danger"></span>
            </div>*@
            <!--<div>
                <button type="button" id="btnAddImage" onclick="btnImage(); alert('aaaa'); " value="Add New Image" class="btn btn-success">Add New Image</button>
            </div>-->
            
            @Html.Partial("_AddManhalImage", ViewData["ManhalImage"]);
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        //$("#btnAddImage").click(function () { });
        function btnImage() {
            alert("btn click");
            $("#divBody").remove();
            var v1 = $("#id").val();
            var v2 = $("#customFile").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddImage2")",
                data: { id: v1, imageFile: v2 },
                dataType: "json",
                success: function (data) {
                    alert("in success fun");
                    var row = "";
                    $.each(data, function (i, item) {
                        row += '<div class="card">' +
                            '<div class="card-body text-center">' +
                            '<img class="card-img" src="~/images/' + item.ImagesString + '" />' +
                            '<a asp-action="DeleteImage" asp-route-idImg="' + item.Id + '" class="card-action">Delete</a>' +
                            '</div>' +
                            '</div>';
                    }
                        $(".MainDiv div").append(row)

                },
                error: function (req, status, error) {
                    alert("in error fun");
                    console.log(error);
                }
            });
        }
    });
</script>

<script>
    $(document).ready(function () {
        var b1 = false, b2 = false, b3 = false, b4 = false;
        $("#btn1").click(function () {
            $("#info").fadeToggle("slow");
            if (b1 == false) {
                document.getElementById("btn1").innerHTML = "Show Statistical";
                b1 = true;
            }
            else {
                document.getElementById("btn1").innerHTML = "Hide Statistical";
                b1 = false;
            }
        });
        $("#btn2").click(function () {
            $("#search").fadeToggle("slow");
            if (b2 == false) {
                document.getElementById("btn2").innerHTML = "Show Search";
                b2 = true;
            }
            else {
                document.getElementById("btn2").innerHTML = "Hide Search";
                b2 = false;
            }
        });
        $("#btn3").click(function () {
            $("#divTable").fadeToggle("slow");
            if (b3 == false) {
                document.getElementById("btn3").innerHTML = "Show Khalia Table";
                b3 = true;
            }
            else {
                document.getElementById("btn3").innerHTML = "Hide Khalia Table";
                b3 = false;
            }
        });
        $("#btn4").click(function () {
            $("#divImages").fadeToggle("slow");
            if (b4 == false) {
                document.getElementById("btn4").innerHTML = "Show Images";
                b4 = true;
            }
            else {
                document.getElementById("btn4").innerHTML = "Hide Images";
                b4 = false;
            }
        });
    });
</script>


<!-- End Row -->
<div class="container mr-2">
    <h4>Manahel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.manhal.Ssn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.manhal.Ssn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.manhal.NickName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.manhal.NickName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.manhal.LocationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.manhal.LocationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.manhal.FlowerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.manhal.FlowerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.manhal.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.manhal.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.manhal.DateUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.manhal.DateUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.manhal.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


