@model IEnumerable<MahaleSystem.Models.Manahel>

@{
    ViewData["Title"] = "Index";
}

@*<div class="card">
    @(await Html.RenderComponentAsync<MahaleSystem.Views.Shared.Components.FirstBlazor>(RenderMode.WebAssemblyPrerendered))
</div>*@

<button id="btnS1" class="btn btn-info" style="margin:10px" value="Show">إخفاء الاحصائيات</button>
<div id="infoS">
    @await Component.InvokeAsync("DisplayAllStatistics", Model.ToList())
</div>

<div class="container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div>
            <h2 class="main-content-title tx-24 mg-b-5"></h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">الصفحة الرئيسية</a></li>
                <li class="breadcrumb-item active" aria-current="page">عرض تفاصيل كل المناحل</li>
            </ol>
        </div>
        <div class="d-flex">
            <div class="">
                <a asp-action="Create" asp-controller="Manahels" class="btn ripple btn-secondary navresponsive-toggler mb-0">Add New Manahal</a>
            </div>
        </div>
    </div>
    <!-- End Page Header -->
</div>

    <div class="row" id="divTable">
        <div class="col-lg-12">
            <div class="card custom-card overflow-hidden">
                <div class="card-body">
                    <div>
                        <h6 class="card-title mb-1">عرض كل المناحل</h6>
                    </div>
                    <div class="table-responsive">
                        <table id="exportexample" class="table table-bordered border-t0 key-buttons text-nowrap w-100">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Ssn)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NickName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LocationName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FlowerName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DateCreated)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DateUpdated)
                                    </th>
                                    <th>صورة المنحل</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ssn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NickName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LocationName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FlowerName)
                                    </td>
                                    <td>
                                        @{ string txt = item.DateCreated.ToShortDateString();}
                                        @txt
                                    </td>
                                    <td>
                                        @{ string txt2 = item.DateUpdated.ToShortDateString();}
                                        @txt2
                                    </td>
                                    <td>
                                        @{ var imgString = "";
                                            try
                                            {
                                                imgString = @item.ImageManhals.FirstOrDefault().ImagesString;
                                                if (imgString == null)
                                                    imgString = "../../assets/img/users/2.jpg";
                                                else
                                                    imgString = "../../images/" + imgString;
                                            }
                                            catch { imgString = "../../assets/img/users/2.jpg"; }
                                        }
                                        <img src=@imgString class="rounded-circle" style="width:70px" />
                                    </td>
                                    <td class="btn-group">
                                        <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.Id">تعديل</a>
                                    </td>
                                    <td>
                                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">حذف</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var b1 = false;
            $("#btnS1").click(function () {
                $("#infoS").fadeToggle("slow");
                if (b1 == false) {
                    document.getElementById("btnS1").innerHTML = "عرض الاحصائيات";
                    b1 = true;
                }
                else {
                    document.getElementById("btnS1").innerHTML = "إخفاء الاحصائيات";
                    b1 = false;
                }
            });
        });
    </script>
