@model DisplayUserViewModel
<div class="row mt-4">
</div>
<div class="row">
    <div class="col-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="table-responsive">
                    <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table dataTable no-footer dtr-inline" id="example2" role="grid" aria-describedby="example2_info" style="width: 1214px;">
                                    <thead>
                                        <tr role="row">
                                            <th class="wd-20p sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" style="width: 100px;"
                                                aria-label="Name: activate to sort column ascending">Name</th>
                                            <th class="wd-25p sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" style="width: 100px;" aria-label="Position: activate to sort column descending" aria-sort="ascending">Phone number</th>
                                            <th class="wd-20p sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" style="width: 100px;" aria-label="Office: activate to sort column ascending">Image</th>
                                            <th class="wd-15p sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" style="width: 100px;" aria-label="data: activate to sort column ascending">Mange user</th>
                                            <th class="wd-20p sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" style="width: 100px;" aria-label="Salary: activate to sort column ascending">Edit user</th>
                                            <th class="wd-20p sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" style="width: 100px;" aria-label="Salary: activate to sort column ascending">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.users)
                                        {
                                        <tr role="row" class="even">
                                            <td tabindex="0" class="">@item.UserName</td>
                                            <td class="sorting_1">@item.PhoneNumber</td>
                                            <td class=""><img style="width:20px;" src="~/Images/@item.Image" /></td>
                                            <td><a class="btn btn-warning" asp-route-id="@item.Id" asp-action="ShowMangeUser" asp-controller="Administration">Mange user</a></td>
                                            <td><a class="btn btn-light"asp-route-id="@item.Id">Edit user</a></td>
                                            <td ><a class="btn btn-danger"asp-route-id="@item.Id">delete user</a></td>
                                        </tr>
                                        }

                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Basic modal -->
<div class="modal" id="addUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Basic Modal</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <h6>Modal Body</h6>
                    <p>Nemo enim ipsam voluptatem quia v</p>
                    <button class="btn ripple btn-primary" type="button">Save changes</button>
                    <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Basic modal -->
<script>
    openAddUser = (title)=>
    {
        $.ajax(
            {
                type:'get',
                url:'AddUser',
                success: function (res)
                {
                    $('#addUser .modal-body').html(res);
                    $('#addUser .modal-title').html(title);
                    $('#addUser').modal("show");
                }
            });
    
    }
</script>
