@model IEnumerable<MahaleSystem.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div>
      @await Component.InvokeAsync("DisplayProductStatistics", ViewBag.ManhalId);
</div>
<div class="container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="d-flex" style="margin-bottom:5px;">
            <div class="">
                <a asp-action="Create" asp-controller="Product" asp-route-manhalID="@ViewBag.ManhalId" class="btn ripple btn-secondary navresponsive-toggler mb-0">إضافة منتج جديد</a>
            </div>
        </div>
        <div class="d-flex" style="margin-bottom:5px;">
            <div class="">
                <a asp-action="DisplaySells" asp-controller="Product" asp-route-manhalId="@ViewBag.ManhalId" class="btn ripple btn-secondary navresponsive-toggler mb-0">عرض المبيعات</a>
            </div>
        </div>
        <div class="d-flex" style="margin-bottom:5px;">
            <div class="">
                <a asp-action="DisplayPublishs" asp-controller="Product" asp-route-manhalId="@ViewBag.ManhalId" class="btn ripple btn-secondary navresponsive-toggler mb-0">عرض المنتجات التى تم ترويجها</a>
            </div>
        </div>
        <div>
            @*<p>بحث ب </p>*@
            <a class="btn ripple btn-outline-primary dropdown-toggle mb-0" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fas fa-caret-down mr-1 mt-1 float-left"></i>&nbsp;&nbsp;&nbsp;&nbsp; بحث بنوع المنتج  &nbsp;&nbsp;&nbsp;&nbsp;
            </a>
            <div class="dropdown-menu tx-13">
                @{ int id2 = 0;
                    try
                    {
                        id2 = Model.First().ManhalId.Value;
                    }
                    catch { }
                }
                <a class="dropdown-item" asp-action="Search" asp-controller="Product"
                   asp-route-id="@id2" asp-route-txtSearch="عسل">
                    عسل
                </a>
                <a class="dropdown-item" asp-action="Search" asp-controller="Product"
                   asp-route-id="@id2" asp-route-txtSearch="شمع">
                    شمع
                </a>
                <a class="dropdown-item" asp-action="Search" asp-controller="Product"
                   asp-route-id="@id2" asp-route-txtSearch="ع">
                    الكل
                </a>
            </div>
        </div>

    </div>
    <!-- End Page Header -->
</div>


<button id="btn3" class="btn btn-info" style="margin:10px" value="Show">إخفاء المنتجات</button>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card custom-card">
                <div class="card-body text-center">
                    <div class="user-lock text-center">
                        <div class="dropdown text-left">
                            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fe fe-more-horizontal text-dark fs-16"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-leftshadow">
                                @*<i class="fe fe-message-square ml-2"></i>*@
                                <a class="dropdown-item" asp-action="AddImage" asp-route-productID="@item.Id" asp-controller="Product">
                                    <i class="@*fas fa-image*@ fe fe-image ml-2"></i>إضافة صورة
                                </a>

                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id" asp-controller="Product">
                                    <i class="fe fe-edit-2 ml-2"></i>تحرير
                                </a>

                                <a class="dropdown-item" asp-action="Details" asp-route-productID="@item.Id" asp-controller="Product">
                                    <i class="fe fe-eye ml-2"></i>عرض التفاصيل
                                </a>

                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id" asp-controller="Product">
                                    <i class="fe fe-trash-2 ml-2"></i>حذف
                                </a>
                            </div>
                        </div>
                        @{
                            var imgString = "";
                            try
                            {
                                imgString = item.ImageProducts.FirstOrDefault().ImagesString;
                                if (imgString == null)
                                    imgString = "../../assets/img/users/2.jpg";
                                else
                                    imgString = "../../images/" + imgString;

                            }
                            catch { imgString = "../../assets/img/users/2.jpg"; }
                        }
                        <img alt="avatar" class="rounded-circle" src=@imgString>
                    </div>
                    <h5 class=" mb-1 mt-3">@item.ProductName</h5>
                    <p class="mb-2 mt-1 tx-inverse"></p>
                    <p class="text-muted text-center mt-0">زهرة @item.FlowerName</p>
                    <div class="mt-2 user-info btn-list">
                        <p class="btn btn-outline-light btn-block"><span>الكمية @item.ProductAmount @item.Containter </span>@*<i class="fe fe-mail ml-2"></i>*@</p>
                        <p class="btn btn-outline-light btn-block"><span>@item.Description</span>@*<i class="fe fe-phone ml-2"></i>*@</p>
                        <p class="btn btn-outline-light  btn-block"><span>@item.DatePick.ToShortDateString()</span>@*<i class="fe fe-map-pin ml-2"></i>*@</p>
                    </div>
                    <div class="row">
                        <a asp-action="Publish" asp-route-id="@item.Id" class="btn btn-primary col-4 offset-1" style="margin:0px 5px">ترويج</a>
                        <a asp-action="Sell" asp-route-id="@item.Id" class="btn btn-success col-4" style="margin:0px 5px">بيع</a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

<!-- Row  File Export DataTable-->
<div class="row" id="divTable">
    @* <div class="col-lg-12">
            <div class="card custom-card overflow-hidden">
                <div class="card-body">
                    <div>
                        <h6 class="card-title mb-1">Display All Khaliaes</h6>
                    </div>
                    <div class="table-responsive">
                        <table id="exportexample" class="table table-bordered border-t0 key-buttons text-nowrap w-100">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FlowerName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductAmount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DatePick)
                                    </th>
                                    <th>
                                        صور المنتج
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FlowerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductAmount)&nbsp;
                                            @Html.DisplayFor(modelItem => item.Containter)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DatePick)
                                        </td>

                                        <td>
                                            Image
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-controller="Manahels" asp-route-id="@item.Id">تحرير</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>*@
</div>
<!-- End Row -->
